<div class="buttons-wrapper">
  <a href="/" class="logo">Hastebin</a>
  <div class="buttons">
    <a href="/new" class="btn" id="new" title="new">
      <svg
        class="btn"
        width="32px"
        height="32px"
        viewBox="0 0 32 32"
        id="icon"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <style>
            .cls-1 {
              fill: none;
            }
          </style>
        </defs>
        <g>
          <path
            d="M26,26H6V6H16V4H6A2.002,2.002,0,0,0,4,6V26a2.002,2.002,0,0,0,2,2H26a2.002,2.002,0,0,0,2-2V16H26Z"
          />
          <path
            d="M26,26H6V6H16V4H6A2.002,2.002,0,0,0,4,6V26a2.002,2.002,0,0,0,2,2H26a2.002,2.002,0,0,0,2-2V16H26Z"
          />
        </g>
        <polygon
          points="26 6 26 2 24 2 24 6 20 6 20 8 24 8 24 12 26 12 26 8 30 8 30 6 26 6"
        />
        <rect
          id="_Transparent_Rectangle_"
          data-name="&lt;Transparent Rectangle&gt;"
          class="cls-1"
          width="32"
          height="32"
        />
      </svg>
    </a>
    <% if (locals.canSave) { %>
    <button class="save" type="submit" title="save">
      <svg
        class="btn"
        x="0px"
        y="0px"
        viewBox="0 0 492.308 492.308"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M398.317,0h-21.836H115.827H0v492.308h87.442h317.423h87.442V82.067L398.317,0z M135.519,19.692h221.269V153.99H135.519
                    V19.692z M385.173,472.615H107.135V259.385h278.038V472.615z M472.615,472.615h-67.75V239.692H87.442v232.923h-67.75V19.692
                    h96.135v153.99h260.654V19.692h14.452l81.683,71.317V472.615z"
            />
          </g>
        </g>
        <g>
          <g>
            <rect x="143.911" y="299.49" width="204.495" height="19.692" />
          </g>
        </g>
        <g>
          <g>
            <rect x="304.581" y="57.482" width="19.692" height="70.036" />
          </g>
        </g>
        <g>
          <g>
            <rect x="143.911" y="356.431" width="204.495" height="19.692" />
          </g>
        </g>
        <g>
          <g>
            <rect x="143.911" y="413.292" width="204.495" height="19.692" />
          </g>
        </g>
      </svg>
    </button>
    <% } %> <% if (locals.id != null) { %>
    <a href="/<%= locals.id %>/duplicate" id="duplicate" title="duplicate">
      <svg
        class="btn"
        x="0px"
        y="0px"
        viewBox="0 0 440.001 440.001"
        style="enable-background: new 0 0 440.001 440.001"
        xml:space="preserve"
      >
        <g>
          <g>
            <g>
              <path
                d="M404.624,134.918l-60.975-60.977c-1.346-1.346-3.17-2.1-5.072-2.1h-27.1v-3.693c0-1.904-0.756-3.726-2.103-5.073
                    L248.4,2.101C247.057,0.756,245.232,0,243.33,0H54.794C42.93,0,33.278,9.651,33.278,21.516v325.125
                    c0,11.863,9.652,21.518,21.516,21.518h73.73v50.326c0,11.862,9.652,21.516,21.515,21.516h235.167
                    c11.865,0,21.517-9.651,21.517-21.516V139.988C406.724,138.087,405.968,136.263,404.624,134.918z M57.186,23.907h174.354v48.577
                    c0,4.905,3.977,8.881,8.879,8.881h47.152l0.012,262.886H57.186V23.907z M152.431,416.093v-47.935h137.53
                    c11.863,0,21.517-9.652,21.517-21.517V95.749h15.309v48.578c0,4.902,3.978,8.878,8.879,8.878h47.154l0.01,262.888H152.431
                    L152.431,416.093z"
              />
              <path
                d="M343.589,348.396h-16.743c-3.203,0-5.812,2.604-5.812,5.811v42.729c0,3.204,2.607,5.812,5.812,5.812h16.743
                    c15.275,0,27.701-12.178,27.701-27.146C371.29,360.602,358.864,348.396,343.589,348.396z M343.589,390.513H333.27v-29.882h10.319
                    c8.529,0,15.47,6.717,15.47,14.973C359.058,383.823,352.118,390.513,343.589,390.513z"
              />
            </g>
          </g>
        </g>
      </svg>
    </a>
    <% } %>
  </div>
</div>
